@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 161.4 100% 99%;
		--foreground: 161.4 5% 10%;
		--card: 161.4 50% 95%;
		--card-foreground: 161.4 5% 15%;
		--popover: 161.4 100% 99%;
		--popover-foreground: 161.4 100% 5%;
		--primary: 161.4 93.5% 30.4%;
		--primary-foreground: 0 0% 100%;
		--secondary: 161.4 30% 70%;
		--secondary-foreground: 0 0% 0%;
		--muted: 123.4 30% 85%;
		--muted-foreground: 161.4 5% 35%;
		--accent: 161.4 50% 82%;
		--accent-foreground: 161.4 5% 15%;
		--destructive: 0 100% 45%;
		--destructive-foreground: 161.4 5% 90%;
		--border: 161.4 30% 50%;
		--input: 161.4 30% 25%;
		--ring: 161.4 93.5% 30.4%;
		--radius: 0.5rem;
	}
	.dark {
		--background: 161.4 50% 10%;
		--foreground: 161.4 5% 90%;
		--card: 161.4 50% 10%;
		--card-foreground: 161.4 5% 90%;
		--popover: 161.4 50% 5%;
		--popover-foreground: 161.4 5% 90%;
		--primary: 161.4 93.5% 30.4%;
		--primary-foreground: 0 0% 100%;
		--secondary: 161.4 30% 20%;
		--secondary-foreground: 0 0% 100%;
		--muted: 123.4 30% 25%;
		--muted-foreground: 161.4 5% 60%;
		--accent: 123.4 30% 25%;
		--accent-foreground: 161.4 5% 90%;
		--destructive: 0 100% 30%;
		--destructive-foreground: 161.4 5% 90%;
		--border: 161.4 30% 26%;
		--input: 161.4 30% 26%;
		--ring: 161.4 93.5% 30.4%;
		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

html,
body {
	width: 100%;
	height: 100%;
}
